*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
img { max-width: 100%; display: block; }

:root {

    --black: #000;
    --primary-light: #FF5C8D;
    --primary-dark: #732553;
    --secondary-light: #85A3B2;
    --secondary-dark: #1E3442;
    --tertiary-light: #E9D8C8;
    --tertiary-dark: #142030;

}

body {

    background-color: var(--tertiary-dark);
    color: var(--primary-light);

    font-size: 16px;
    font-family: "Roboto", sans-serif;

}

a{

    text-decoration: none;

}

li {

    list-style: none;

}

.container {

    display: grid;
    grid-template-columns: max(25%, 250px) max(75%, 890px);
    grid-template-rows: max(20%, 200px) max(80%, 520px);

    min-height: 100vh;

}

.header {

    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40% 60%;
    align-items: center;

    background: linear-gradient(90deg, var(--secondary-dark), var(--black));
    box-shadow: 0 0 10px 5px var(--black);

    padding: 16px 32px;

}

.search-bar {

    grid-area: 1 / 1 / 2 / 2;
    display: flex;

}

.search-bar input {

    padding: 5px;
    margin: 0 8px;
    width: 100%;
    height: 2.5rem;
    border-radius: 16px;
    background-color: var(--tertiary-light);

    font-size: 1rem;

}

.search-icon {
    
    width: 40px;
    display: inline-block;
    filter: brightness(0) saturate(100%) invert(17%) sepia(17%) saturate(6242%) hue-rotate(294deg) brightness(93%) contrast(89%);

}

.user-quicknav {

    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-end;

    margin-left: 16px;

}

.notification-icon {

    width: 25px;
    display: inline-block;
    filter: brightness(0) saturate(100%) invert(17%) sepia(17%) saturate(6242%) hue-rotate(294deg) brightness(93%) contrast(89%);

}

.user-quicknav-avatar {

    width: 66px;
    height: 66px;

    background-image: url('./media/avatars.svg');
    background-size: 188px 188px;
    background-position: -3px 0px;

}

.user-quicknav-name {

    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 700;

}

.user-welcome {

    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 130px 300px;
    grid-template-rows: 50% 50%;

}

.user-welcome-avatar {

    grid-area: 1 / 1 / 3 / 2;

    display: inline-block;
    width: 125px;
    height: 125px;

    background-image: url('./media/avatars.svg');
    background-size: 375px 375px;
    background-position: -10px -6px;

}

.welcome-msg {

    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: flex-end;

    margin-left: 5px;
    font-size: .75rem;

}

.user-welcome-name {

    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;

    margin-left: 5px;
    font-size: 1.25rem;
    font-weight: 700;

}

.user-documents-menu {

    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;

}

.user-documents-menu button {

    display: inline-block;
    width: 100px;
    height: 2rem;
    margin-left: 16px;
    border-radius: 20px;
    border: 1px solid var(--secondary-dark);
    outline: none;

    background-color: var(--primary-dark);
    color: var(--tertiary-light);
    font-size: .65rem;
    font-weight: 600;

}

.sidebar {

    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-flow: column;

    background: linear-gradient(270deg, var(--secondary-dark), var(--tertiary-dark));
    padding: 16px;

}

.logo {

    width: clamp(125px, 85%, 250px);
    margin: 0 auto;

}

.logotype {

    color: var(--black);
    display: block;

    font-family: "Alfa Slab One", serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;

}

.user-nav, .site-nav {

    margin-top: 50px;

}

.nav-item{

    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--secondary-dark);

}

.nav-icon {

    width: max(7%, 25px);
    display: inline-block;

    filter: brightness(0) saturate(100%) invert(65%) sepia(29%) saturate(262%) hue-rotate(155deg) brightness(91%) contrast(89%);

}

.nav-item a{

    color: var(--secondary-light);
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 16px;

}

.portal {

    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: 75% 25%;
    box-shadow: inset 5px 0 10px 5px var(--black);

    padding: 16px 32px;
    color: var(--secondary-light);

}

.portal-header{

    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 16px;

}

.projects {

    margin-right: 32px;

}

.project-cards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    justify-content: center;

}

.project {

    background-color: rgba(0, 0, 0, 0.3);
    border: 1px outset rgba(0, 0, 0, 0.2);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.secondary-sidebar {

    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-flow: column;

}