*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
img { max-width: 100%; display: block; }

:root {

    --black: #000;
    --primary-light: #FF5C8D;
    --primary-dark: #732553;
    --secondary-light: #85A3B2;
    --secondary-dark: #1E3442;
    --tertiary-light: #E9D8C8;
    --tertiary-dark: #142030;

}

body {

    background-color: var(--black);
    color: var(--tertiary-light);

}

.container {

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;

    min-height: 100vh;

}

.header {

    display: grid;
    grid-area: 1 / 2 / 2 / 3;

    background-color: var(--secondary-dark);

}

.sidebar {

    display: grid;
    grid-area: 1 / 1 / 3 / 2;

    background-color: var(--tertiary-dark);

}

.portal {

    display: grid;
    grid-area: 2 / 2 / 3 / 3;

}